body{
    background-color: #272822;
    font-family: Consolas;
    color: #ffffff;
}

ol > li{
    list-style: none;
    counter-increment: li;
}

ol > li::before{
    content: counter(li);
    color: #82827C;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl;
}

body > div > ol > a{
    text-decoration: none;
    color: inherit;
}

span{
    color: #F9273C;
}

.an{
    color: #9AE22B;
}

.av{
    color: #E6DB74;
}

.c{
    color: grey;
}

.t1{
    text-indent: 2em;
}

.t2{
    text-indent: 4em;
}

.t3{
    text-indent: 6em;
}

.t4{
    text-indent: 8em;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 18px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: inherit;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }