html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ff0000;
  font-weight: bold;
}

main a {
  color: #ff0000 !important;
  text-decoration: none;
  font-weight: bold;
}

header,
footer {
  background-color: #00293c;
}

h1 {
  font-family: "Hi Melody", cursive;
  color: #f1f3ce;
  font-style: italic;
  font-size: 3em !important;
}

header nav,
footer section {
  background-color: #1e656d;
  color: #f1f3ce;
  text-decoration: none;
}

header nav a,
footer section a {
  color: #f1f3ce;
  font-weight: bold;
}

h2,
nav li {
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

h2,
h3 {
  color: #1e656d;
}

footer {
  color: #f1f3ce;
}

footer p {
  font-size: 0.6em;
}

footer a,
footer div a {
  font-size: 1em;
}

figcaption{
  font-size: .7em !important;
}

.projectdesc {
  text-align: center;
  font-size: 0.75em;
}

h4 {
  font-size: 0.8em;
}

.page-header img{
  width: 20%;
  border-radius: 100%;
}

.social-footer-list{
  list-style: none;
  display: inline;
}

.social-footer-logo{
  width: 30px;
  height: 30px;
  display: inline-block;
}

.scholen-lijst{
  list-style: none;
}

.scholen-lijst article{
  text-align: center;
}

.scholen-lijst img{
  width: 25%;
  
}

.studentenwerk img{
  width: 50%;
  height: auto;
}

.creaties-lijst{
  list-style: none;
  text-align: center;
}

.creaties-lijst img{
  width: 75%;
  height: auto;
}