/*
 * #00293c
 * #1e656d
 * #f1f3ce
*/ 

html{
  font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #eaeaea;
}

a{
  color: red;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}

.page-header{
  background-color: #00293c;
  color: #f1f3ce;
  padding: 10px 15%; /* 10px 192px */
}

.page-header > h1{
  font-size: 2em;
  font-style: italic;
}

.page-header > img{
  width: 125px;
  height: 150px;
  border-radius: 100px;
  position: absolute;
  top: 5px;
  right: 12%;
  z-index: 99;
}

.navbar{
  background-color: #1e656d;
  position: sticky;
  padding: 10px 10%; /* 10px 128px */ 
  top: 0;
  box-shadow: 0px 2px 5px #000000;
}

.navbar > nav > ul{
  list-style: none;
  display: inline-flex;
}

.navbar > nav > ul > li > a{
  color: #f1f3ce;
  padding: 5px 5px 5px 20px;
  font-size: 1.1em;
}

.container{
  width: 1280px;
  margin: auto;
  background-color: #ffffff;
  padding: 10px 5%; /* 10px 64px */
}

.container > section{
  margin-top: 80px;
}

.container > section > h2{
  color: #00293c;
  font-size: 1.8em;
}

.opleidingen > ol{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
  margin: 50px auto;
}

.opleidingen > ol > li{
  width: 25%; /* 192px */
  display: inline-block;
  background-color: #eaeaea;
  box-shadow: 2px 2px 5px #000000;
  padding: 20px 10px;
}

.opleidingen > ol > li > article > img{
    width: 50%;
    height: 180px;
    margin: auto;
}

.cv-box{
  background-color: #1e656d;
  color: #f1f3ce;
  border: 2px solid black;
  border-radius: 10px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 1px 1px 5px black;
  padding: 10px 10px;
}